<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本的表格</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="car" method="post">
    <input type="hidden" name="s_id" value="s_id">
    <table class="table">
        <caption>基本的表格布局</caption>
        <thead>
        <tr>
            <th>商品id</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>商品库存</th>
            <th>商品logo</th>
            <th>购买</th>
        </tr>
        </thead>
        {volist name="arr" id="vo"}
        <tr>
            <td>{$vo.s_id}</td>
            <td>{$vo.s_name}</td>
            <td>{$vo.s_place}</td>
            <td>{$vo.s_num}</td>
            <td>{$vo.s_img}</td>
            <td><a href="car?id={$vo.s_id}">添加到购物车</a></td>
        </tr>
        {/volist}
    </table>
</form>


</body>
</html>